<body style="background-color: lightblue">
<h1> Hello there! </h1>
</body>

<form action="/details" method="post">
  <label for="name">
    What's your name?
    <input type="text" name="name">
  </label>
  <label for="day and month">
    When's your birthday?
    <input type="text" name="day">
    <input type="text" name="month">
  </label>
  <input type="submit" value="Go!">
</form>
