<!DOCTYPE html>
<html>
<body style="background-color: lightblue">
  <h1 style="display:flex; justify-content:center; align-items:center;"> Hello there! </h1>
  <div style="display:flex; justify-content:center; align-items:center;">
    <form action="/details" method="post" style="width:300px">

<fieldset>
      <label for="name">
        What's your name?<br>
        <input type="text" name="name" placeholder='Your name' style="width:300px"><br>
      </label>

      <br>

      <label for="birthday">
        When is your birthday?<br>
        Day:
        <input type="text" name="day" placeholder='Day' style="width:300px">
        Month:
        <input type="text" name="month" placeholder='Month in the 1,2,3 format' style="width:300px"><br>

      <br>

      <input type="submit" value="Go!">

      <br>
</fieldset>

    </form>
  </div>
</body>
</html>
