
<% if @days == 0 %>
<h1> Your birthday is today! Happy birthday! </h1>
<% elsif @days < 365  %>
<h1> Your birthday will be in <%= @days %> days, <%= @name %> </h1>
<% else %>
<h1> Your birthday will be in <%= @days - 365 %> days, <%= @name %> </h1>
<% end %>
